body{
        display:flex;
        justify-content: center;
        align-items: center;;
        background-color: bisque;
       }
        .container{
            height:100vh;
            border-radius:2px solid black;

        }
        h1{
            font-family:Georgia, 'Times New Roman', Times, serif;
            font-weight: bolder;
            font-size: 60px;;

        }
        input{
            height:35px;
            width:350px;
        }
        .inputField{
            display:flex;
            flex-direction:row;
        }
        .btn{
            margin-left:10px;
            border-radius:10px;
            background-color: blue;
            color:white;
        }
         .container2{
            display:flex;
            flex-direction:row;
        }
         
        
